    .about-container-testimonials{
        background-color: var(--background-lightgray);
        padding-block: 5%;
        padding-inline:10%;
        display: flex;
        align-items: center;
        gap:20px;
        .testimonials-text{
            width: 40%;
            p{
                color: gray;
            }
        }
        .testimonials-item{ 
            width:60%;
            border-radius: 10px;
        }
    
    }


@media only screen and (max-width:768px){
    .about-container-testimonials{
        flex-direction: column;
        .testimonials-text{
            width: 100% !important;
            text-align: center;
        }
        .testimonials-item{
            width: 100% !important;
        }
    }
  }