.button-container{
    width: max-content;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-inline:25px;
    // padding-block:5px;
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover {
        background-color: #7b9905; /* Change background color on hover */
        color: white;
        text-decoration: none;
        // transition: background-color 0.3s ease, color 0.3s ease;
        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
            transition: fill 0.3s ease;
        }
    }
    p{
        margin: 0px;
        font-weight: 500;
    }
}
@media only screen and (max-width:768px){
    // .button-main-container{
    //     display: flex;
    //     justify-content: center;
    // }
}