.project-container{
    background-color: var(--background-lightgray);
    // padding-inline: 10%;
    padding-block: 5%;
    .project-text{
        padding-inline: 20%;
        text-align: center;
    }
    .project-marquee{
        // overflow: visible;
        .marquee-container{   
            padding-block: 2%;
            img{
                width: 300px;
                margin-right: 20px;
                border-radius: 10px;
                transition: transform 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .project-btn{
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
}
@media only screen and (max-width:600px){
    .project-container{
        padding-block:10% !important;
    }
    .project-text{
        padding-inline:10% !important;
        padding-block:0% !important;
    }
    .project-marquee{
        padding-block:3%;
    }
}