.project-container{
    background-color: var(--background-lightgray);
    // padding-inline: 10%;
    padding-block: 5%;
    .project-text{
        padding-inline: 20%;
        text-align: center;
    }
    .project-marquee{
        // overflow: visible;
        .marquee-container{   
            padding-block: 2%;
            img{
                width: 300px;
                margin-right: 20px;
                border-radius: 10px;
                transition: transform 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        
    }
}
