/* variables.css */
:root {
    --accent-color: #C9F31D;
    --primary-color: #333333;
    --secondary-color: #666666;
    --background-gray:#131313;
    /* Add more color variables as needed */
    --background-lightgray:#1F1F1F;
  }

body {
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}
h1{
    font-weight: 700;
}
.sub-heading{
    /* font-size:16px; */
    color:gray;
    font-weight: 600;
}
.text-accent-color{
    color:#C9F31D;
}
h2{
    font-weight: 600;
}
.text-white{
    color:white;
}
.text-gray{
    color: gray;;
}
.text-lightgray{
    color: #1F1F1F;
}
.hidden{
    display: none;
}

@media only screen and (min-width:2000px) and (max-width:4000px){
    .main-container-padding,.navbar-container{
        padding-inline:25% !important;
    }
}

@media only screen and (max-width:600px){
    /* .navbar-container{
        display: none !important;
    } */
    .main-container-padding{
        padding-block: 10%;
    }
}