.secondary-header-container{
    display: flex;
    align-items: center;
    gap:40px;
    padding-inline:10%;
    padding-bottom:5%;
    background-color: var(--background-gray);
    .secondary-header-image{
        width: 50%;
        img{
            width: 100%;
        }
    }
    .secondary-header-content{
        width: 50%;
        .content-description{
            color: gray;
        }
    }
}

@media only screen and (max-width:768px){
    .secondary-header-container{
        flex-wrap: wrap;
    }
    .secondary-header-image,.secondary-header-content{
        width: 100% !important;
    }
    .secondary-header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width:768px){
    .secondary-header-container.main-container-padding{
        padding-top:0px !important;
    }
}