.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: var(--background-lightgray); */
    background-color: black;
    box-shadow: 0px 0px 15px 0px rgb(33, 33, 33);
  }
  .contact-form-title{
    margin-bottom:20px;
    color: white;
  }
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    /* display: block; */
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    background-color: var(--background-lightgray);
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;
    color: white  ;
  }
  .contact-form label{
    color: white;
  }
  
  .contact-form .error {
    color: red;
    font-size: 0.9em;
  }
  
  .contact-form .submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: black;
    cursor: pointer;
    font-weight: 600;
  }
  
  .contact-form .submit-button:hover {
    background-color: #7b9905;
    color:white;
  }
  
  .success-message {
    color: green;
    font-size: 1.2em;
  }
  