.skill-container{
    background-color: black;
    padding-inline: 10%;
    padding-block: 5%;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    .skill-text{
        // width:40%;
    }
    .skill-details{
        // width: 60%;
        display: flex;
        flex-direction: column;
        gap:10px;
        .skill-details-container{
            display: flex;
            gap:10px;
            .skill-details-item{
                background-color: var(--background-lightgray);
                border:1px solid var(--background-lightgray);
                border-radius: 10px;
                padding: 15px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:10px;
                transition: border 0.3s ease;
                width: 25%;
                img{
                    width: 50px;
                }
                h6{
                    color: white;
                }
                .skill-details-item-counter{
                    background-color: black;
                    padding-inline:40px;
                    padding-block:10px;
                    border-radius: 10px;
                    h6{
                        margin-bottom: 0px;
                        color: gray;
                        font-weight: 600;
                        transition: color .3s ease;
                    }
                }
                &:hover{
                    border:1px solid var(--accent-color);
                    .skill-details-item-counter{
                        background-color: var(--accent-color);
                        h6{
                            color: black;
                        }
                    }
                    
                }
            }
        }
    }
}

@media only screen and (max-width:1024px){
    .skill-text{
        text-align: center;
    }
    .skill-container,.skill-details-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill-details-item{
        width: 48% !important;
    }
    .skill-details-container{
        justify-content: center;
    }
    .skill-btn .button-main-container{
        padding-block:5%;
        display: flex;
        justify-content: center;
    }
}