.about-me{
    display: flex;
    align-items: center;
    padding-inline:10%;
    background-color: black;
    padding-block:5%;
    gap: 20px;
    // flex-wrap: wrap;
    .about-me-text{
        .about-me-bullets{
            display:flex;
            .bullets-container{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap:10px;
            }
            .bullets-container-item{
                display: flex;
                gap:10px;
                align-items: center;
                p{
                    margin-bottom: 0px;
                    font-size:18px;
                    color:white;
                }
            }
        }
        .about-me-btn{
            margin-top: 8%;
        }
    }
    .about-me-img{
        margin-top: -40px;
        .about-me-contact{
            display: flex;
            flex-direction: column;
            // background-color: var(--background-lightgray);
            // border-radius: 10px;
            // justify-content: space-between;
            // padding: 20px;
            gap:20px;
            .about-me-contact-block{
                background-color: var(--background-lightgray);
                padding: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap:15px;
                border: 1px solid var(--background-lightgray);
                text-decoration: none;
                transition: border 0.3s ease;
                .about-me-contact-block-icon{
                    background-color: var(--accent-color);
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease;
                    img{
                        width: 20px;
                    }
                }
                &:hover{
                    border: 1px solid var(--accent-color);
                    .about-me-contact-block-icon{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:900px){
    .about-me{
        text-align: center;
        flex-wrap: wrap;
    }
    .about-me-img{
        margin-top:0px !important;
        width: 100%;
    }
    .about-me-text{
        width: 100%;
    }
    .about-me-contact-block{
        padding: 20px !important;
        flex-direction: column;
    }
    .bullets-container{
        align-items: center;
    }
    .about-me-btn{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:600px) and (max-width:900px){
    .about-me-img{
        display: flex;
        align-items: center;
        margin-top: 5% !important;
    }
}