.footer-container{
    .footer{
        display: flex;
        padding-inline:10%;
        padding-block:5%;
        gap:40px;
        justify-content: space-between;
        background-color: black;
        color: white;
        .footer-logo{
            .footer-logo-item{
                img{
                    width: 200px;
                }
            }
            .footer-social{
                margin-top: 40px;
                display: flex;
                gap:20px;
            }
        }
        .footer-quick-links{
            .quick-links-menu{
                margin-top:40px;
            }
        }
        .footer-address{
            .address-content{
                margin-top:40px;
                display: flex;
                flex-direction: column;
                gap:20px;
                .address-content-block{
                    display: flex;
                    gap:10px;
                    p{
                        margin: 0px;
                    }
                }
            }
        }
    }
    .footer-copyright{
        background-color: var(--background-gray);
        text-align: center;
        padding-inline:10%;
        color:white;
        padding-block:20px;
        p{
            margin: 0px;
        }
    }
}

@media only screen and (max-width:600px){
    .footer{
        flex-wrap: wrap;
        padding-block: 10% !important;
        gap:20px !important;
        text-align: center;
    }
    .footer-logo,.footer-quick-links,.footer-address{
        width: 100%;
    }
    .footer-social{
        justify-content: center;
    }
    .address-content-block{
        justify-content: center;
    }
    .address-content,.quick-links-menu{
        margin-top:20px !important;
    }
    .footer-logo{
        padding-bottom: 20px !important;
    }
}